:root {
    --background-color:#ffffff; /* default background color */
    --text-color: #000000; /* default text color */
    --button-bg-light:  #0b243e; /* default light button background color */
    --button-text-light: #fff; /* default light button text color */
    --button-border-light:  #0b243e; /* default light button border color */
    --button-bg-dark: #fff; /* default dark button background color */
    --button-text-dark: #000; /* default dark button text color */
    --button-border-dark: #fff; /* default dark button border color */
  }
  
  [data-theme='light'] {
    --background-color: #001933; /* dark background color */
  
    --text-color: #f5f5f5; /* dark text color */
    --button-bg-light:  #0b243e; /* light button background color in dark mode */
    --button-text-light: #fff; /* light button text color in dark mode */
    --button-border-light:  #0b243e; /* light button border color in dark mode */
    --button-bg-dark: #fff; /* dark button background color in dark mode */
    --button-text-dark: #000; /* dark button text color in dark mode */
    --button-border-dark: #fff; /* dark button border color in dark mode */
  }
  #experience {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 3rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .experience-details-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    height: 80%;
  }
  
  .experience-sub-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .article {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
  }
  
  /* Icon Styles */
  .icon {
    width: 30px; /* Adjust icon size as needed */
    height: 30px; /* Adjust icon size as needed */
  }
  
  .arrow {
    cursor: pointer;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    #experience {
      margin: 0 2rem;
    }
  
    .experience-details-container {
      flex-direction: column;
      height: auto;
    }
  
    .details-container {
      margin-bottom: 2rem;
    }
  }